h1 {
	padding: 10px;
	color: $color_2;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 40px;
}
.search {
	width: 100%;
	padding: 20px;
	background: url(../assets/image/fondo_01.png);
	background-size: cover;
	height: 70vh;
	@include flex (column,center,center);
}
.search_button {
	@extend .boton-search;
	@include flex (row,center,center);
	button {
		width: 100%;
		padding: 5px;
		margin: 5px;
		border-color: $border-color_1;
		box-shadow: 5%;
		background-image: $color_8;
		color: black;
	}
}
.search_box {
	@extend .boton-search;
	@include flex (row,center,center);
	form {
		display: flex;
		width: 100%;
		padding: 5px;
		margin: 5px;
		background: transparent;
	}
	button {
		width: 20%;
		border-color: $border-color_1;
		background-image: $color_8;
		color: black;
	}
}
.search_holder {
	width: 80%;
	height: 35px;
	margin-right: 10px;
	border: 1px solid #252525;
	border-radius: 2%;
}
.info {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: 'left left right right' 'left left right right';
	padding: 10px;
	position: relative;
}
.info_body {
	grid-area: left;
	display: flex;
	flex-direction: column;
	gap: 30px;
	
	h2 {
		font-size: 40px;
		font-weight: 700;
		color: $color_2;
		font-weight: bold;
		text-align: center;
		padding: 50px;
		margin-top: 50px;
	}
	p {
		background-color: $background-color_1;
		font-size: 20px;
		position: absolute;
		top: 30%;
		left: 20%;
		width: 50%;
		border-radius: 10px;
		padding: 20px;
		transition: .3s;
		&:hover {
			transform: scale(1.2,1.2);
		}
	}
	img {
		padding: 20px;
		@include imagenes (40%,100%,cover);
		min-height: 100px;
		max-height: 50%;
		border-radius: 5px;
		position: absolute;
		top: 30%;
	}
}
.info_img {
	grid-area: right;
	display: flex;
	flex-direction: column;
	gap: 30px;
	object-fit: cover;
	img {
		margin-top: 50px;
		@include imagenes (80%,100%,cover);
		min-height: 100px;
		max-height: 100%;
		border-radius: 5px;
	}
	p {
		background-color: $background-color_1;
		font-size: 20px;
		position: absolute;
		top: 70%;
		left: 20%;
		width: 50%;
		border-radius: 10px;
		padding: 20px;
		transition: .3s;
		&:hover {
			transform: scale(1.2,1.2);
		}
	}
}
.destacadoCarousel {
	@include flex (column,center,none);
	width: 100%;
}
.destacadoCarousel_conteiner {
	margin: 20px;
	width: 1170px;
	h3 {
		margin: 10px 10px 30px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: $color_2;
	}
}
.carousel {
	img {
		@include imagenes (100%,500px,cover);
	}
}
.carousel-control-prev-icon {
	color: $color_3;
	background-color: $background-color_2;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: 30px;
	&::before {
		color: $color_3;
	}
}
.carousel-control-next-icon {
	color: $color_3;
	background-color: $background-color_2;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: 30px;
	&::before {
		color: $color_3;
	}
}