.navbar {
	background-image: linear-gradient(90deg,#3e51dc 20%, #68dcb9 70%);
}
li {
	list-style-type: none;
	margin: 10px;
}
.nav-link {
	font-size: 20px;
	color: $color_1;
	font-weight: bold;
	text-decoration: none;
}