$color_1: rgb(29, 35, 41);
$color_2: #2b29b9;
$color_3: #fff;
$color_4: #555;
$color_5: #000;
$color_6: white;
$color_7: #0D6EFD;
$font-family_1: 'Open Sans', sans-serif;
$font-family_2: Verdana, Geneva, Tahoma, sans-serif;
$background-color_1: #eeeeeebd;
$background-color_2: #000;
$background-color_3: rgb(223, 243, 234);
$background-color_4: #1089ff;
$border-color_1: black;
